<!DOCTYPE html>
<html lang="vi">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <title> Trang quản lý môn học </title>
        <link rel="icon" type="image/png" href="img/logobk.png">
        <meta name="author" content="Pham Van Dat"/>
        <meta name="content" content="Assignment 2"/>
    </head>

    <body>
        <h5 align="right"> Xin chào, Phạm Văn Đạt.  
            Nhấn vào đây để <a href="../index.html" style="font-size: normal;">Quay lại trang chủ</a> hoặc 
                            <a href="login.html" style="font-size: normal;">đăng xuất.</a>
        </h5>


    </body>
</html>