<!DOCTYPE html>
<html lang="vi">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <title> Đăng nhập </title>
        <meta name="author" content="Pham Van Dat"/>
        <meta name="content" content="Login"/>
    </head>

    <body>
        <h1 align="center"> LOGIN </h1>
        <br> <br> 
        <div class="container">
            <b><label for="username">Tên đăng nhập</label><br></b>
            <input type="text" placeholder="Nhập tên tài khoản" id="inputbox" name="username" required><br><br>
            
            <b><label for="password">Mật khẩu</label><br></b>
            <input type="password" placeholder="Nhập mật khẩu" id="inputbox" name="password" required><br><br>

            &emsp; &emsp;
            <input type="submit" id="button" value="Login">
            &ensp; &emsp; &emsp; 
            <input type="reset" id="button" value="Reset">
        </div>
    </body>
</html>