<!DOCTYPE html>
<html lang="vi">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <title> Trang chủ </title>
        <link rel="icon" type="image/png" href="img/logobk.png">
        <meta name="author" content="Pham Van Dat"/>
        <meta name="content" content="Assignment 2"/>
    </head>

    <body>
        <h5 align="right"> Xin chào, Phạm Văn Đạt.  
            Nhấn vào đây để 
            <a href="../index.html" style="font-size: normal;">quay lại trang chủ</a> hoặc <a href="function.html" style="font-size: normal;"> quay lại trang tùy chọn </a> hoặc
            <a href="login.html" style="font-size: normal;">đăng xuất.</a>
        </h5>

        <br> <br>
        
        <div class="centerbox" style="width: 40%; top: 118px; display : block;">
            <center><label> DANH SÁCH SINH VIÊN THAM DỰ THI </label></center>
            <hr>
            <table align="center">
                <tr>
                    <th align="left">Số thứ tự</th>
                    <th align="center">Họ và tên</th>
                    <th align="center">Mã số sinh viên</th>
                </tr>
                <tr>
                    <td align="center">1</td>
                    <td align="left">Phạm Văn Đạt</td>
                    <td align="center">1913075</td>
                </tr>
                <tr>
                    <td align="center">2</td>
                    <td align="left" >Nguyễn Khắc Bảo</td>
                    <td align="center">1912675</td>
                </tr>
                <tr>
                    <td align="center">3</td>
                    <td align="left">Đinh Phước An</td>
                    <td align="center">2120001</td>
                </tr>
              </table>
        </div>

    </body>
</html>